<div>
  <div class="row col header-background">
    <div class="col-2">

    </div>
    <div class="col-2">

    </div>
    <div class="col-2">

    </div>
    <div class="col-4"></div>
    <div class="col-2 zero-padding">
      <div class="float-right">
        <i class="btn-icon fa fa-download" (click)="generateImage()" title="Download"></i>
        <i (click)="doClose()" class="btn-icon fa fa-times" title="Close"></i>
      </div>
    </div>
  </div>
  <mat-card-content class="padding20 outer-year-conatiner" #screen>
    <div class="center">
        <p class="mat-caption" style="text-align: center"><span class="font-weight-bold">Title
            :</span>{{sectionName}}, {{reportName}} [{{startYear}} - {{endYear}}]</p>
    </div>
    <div class="row">
      <div id="driver-container1"></div>
      <div style="width: 100%;"> <p class="mat-caption"><span class="font-weight-bold">Source
          :</span>Wantstats
      </p></div>
    </div>
  </mat-card-content>
</div>
<div style="display: none" id="download">
  <img #canvas>
  <a #downloadLink></a>
</div>
