<footer id="footer" class="footer">
  <div class="container-fluid">
    <div class="row margin-aside">
      <div class="col-lg-4 col-md-12 footer-info">
        <img src="../../../assets/contact/wstat-logo.png" alt="" style="width:100px; height: 25px; margin-bottom: 10px;">
        <br>
        <a href="https://www.wantstats.com/" style="text-decoration: none;" class="logo  align-items-center">
          <span><i class="fa fa-flag"></i>&nbsp;&nbsp;Wantstats Research and Media Pvt. Ltd.</span>
        </a>
        <br>
        <div class="footer-links" (click)="handleClick()">
          <ul>
            <li class="footer-charts"><a><i class="fa fa-angle-double-right"></i>Charts
                &amp; Stats</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 footer-links">
        <h4><i class="fa fa-user"></i>&nbsp;&nbsp;Support</h4>
        <ul>
          <li><a href="https://www.wantstats.com/pages/subscription-terms-and-conditions"><i class="fa fa-angle-double-right"></i>Terms and
              Conditions</a></li>
          <li><a href="https://www.wantstats.com/about-us"><i class="fa fa-angle-double-right"></i>About Us</a></li>
        </ul>
        <ul class="">
          <li><a href="https://www.wantstats.com/contact-us"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-12 footer-links">
        <h4><i class="fa fa-phone"></i>&nbsp;&nbsp;Contact Us</h4>
        <p class="contact-text">
          +1 315 636 0726 (US)<br> +44 744 5555 067 (UK)
        </p>
        <div class="search_1">
          <input class=" form-control" id="search" name="q" placeholder="Email" type="search" autocomplete="off">
          <button class="btn btn-primary">Send</button>
        </div>
      </div>
      <div class="col-lg-2 col-md-12 footer-contact  text-md-start" style="margin-bottom: 10px;">
        <h4><i class="fa fa-envelope"></i>&nbsp;&nbsp;Newsletter</h4>
        <div >
          <span (click)="handleClick()" class="badge tag-rounded"><a>View All Charts</a></span>
        </div>
        <p>
          KEEP UP TO DATE ON ALL THE LATEST REPORTS
        </p>
        <div class="social-links d-flex ">
          <a href="https://www.instagram.com/wantstats" class="icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a href="https://x.com/wantstat" class="icon"><i class="fa fa-twitter" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a href="https://m.facebook.com/wantstats/" class="icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a href="https://youtube.com/@wantstats?si=u2wmYgEGpcW-fC2k" class="icon"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a href="https://www.linkedin.com/company/wantstats-research-media/" class="icon"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row ">
      <div class="col-md-12 copy text-center" style="font-size: 12px;">
        © Copyright <strong><span>2023</span></strong>. All Rights Reserved <span><a href="https://www.wantstats.com/"
            class="text-white">Wantstats.com</a></span>
      </div>
    </div>
  </div>
</footer>
