<div class="comment-item" *ngFor="let dataElement of inputData">
    <div class="card w-100">
      <div class="container-fluid">
        <div class="row">
          <div class="col" style="padding-left: 0;">
            <div class="card-body" style="padding: 0.5rem;">
              <ng-container class="component-element-renderer" [ngSwitch]="dataElement?.type">
                <!-- TEXT -->
                <div class="container-fluid content-p" *ngSwitchCase="'TEXT'">
                  <div [innerHTML]="dataElement?.data"></div>
                </div>

                <!-- TABLE -->
                <div class="container-fluid seprator-div" *ngSwitchCase="'TABLE'">
                  <p class="mat-caption"><span class="font-weight-bold">Title&nbsp;:&nbsp;</span>{{dataElement?.data?.metaDataValue?.title}}
                  </p>
                  <table mat-table [dataSource]="dataElement.data.dataStore" class="conponent-table">
                    <ng-container *ngFor="let colMetadata of dataElement.data.cols"
                                  matColumnDef="{{colMetadata}}">
                      <th mat-header-cell *matHeaderCellDef> {{colMetadata}} </th>
                      <td mat-cell *matCellDef="let element">
                        {{element[colMetadata]}}
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="dataElement.data.cols"></tr>
                    <tr mat-row *matRowDef="let row; columns: dataElement.data.cols;"></tr>
                  </table>
                  <p class="mat-caption"><span class="font-weight-bold">Source&nbsp;:&nbsp;</span>
                    {{dataElement?.data?.metaDataValue?.source}}
                  </p>
                </div>

                <!-- IMAGE -->
                <div class="container-fluid" *ngSwitchCase="'IMAGE'">
                  <p class="mat-caption"><span class="font-weight-bold">Title&nbsp;:&nbsp;</span>{{dataElement?.data?.metaDataValue?.title}}
                  </p>
                  <img [src]="dataElement.data.imageUrl" class="responsiveImg shared-data-element-img" *ngIf="dataElement.data.imageUrl">
                  <p class="mat-caption"><span class="font-weight-bold">Source&nbsp;:&nbsp;</span>{{dataElement?.data?.metaDataValue?.source}}
                  </p>
                </div>

                <!-- PIE -->
                <div class="container-fluid" *ngSwitchCase="'PIE'">
                  <p class="mat-caption"><span class="font-weight-bold">Title&nbsp;:&nbsp;</span>{{dataElement?.data?.metaDataValue?.title}}
                  </p>
                  <canvas height="50" baseChart [data]="dataElement.data.chartData"
                          [labels]="dataElement.data.chartLabels" [chartType]="pieChartType"
                          [options]="pieChartOptions"
                          [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
                  </canvas>
                  <p class="mat-caption"><span class="font-weight-bold">Source&nbsp;:&nbsp;</span>{{dataElement?.data?.metaDataValue?.source}}
                  </p>
                </div>

                <!-- BAR -->
                <div class="container-fluid" *ngSwitchCase="'BAR'">
                  <p class="mat-caption"><span class="font-weight-bold">Title&nbsp;:&nbsp;</span>{{dataElement?.data?.metaDataValue?.title}}
                  </p>
                  <canvas height="50" baseChart [datasets]="dataElement.data.chartData"
                          [labels]="dataElement.data.chartLabels" [options]="barChartOptions"
                          [plugins]="barChartPlugins"
                          [legend]="barChartLegend" [chartType]="barChartType">
                  </canvas>
                  <p class="mat-caption"><span class="font-weight-bold">Source&nbsp;:&nbsp;</span>{{dataElement?.data?.metaDataValue?.source}}
                  </p>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
