<section>
  <div class="container-fluid" id="aboutUsPageCarousel">
      <div class="row margin-aside" style="background: #f9f9f9;">
          <div class="col-md-6 col-lg-6 col-xs-12">
              <p class="para-heading color-white bg-circular trans-capitalize ltr-space-1"><strong></strong></p>
              <h1 style="font-size: 32px;padding: 10px 0px;"><strong>Workplace</strong></h1>
              <p></p>
              <p class="color-body bg-transparent about-us-cs mar-top-20 text-justify"><b>Wantstats Research and
                      Media Pvt Ltd</b> is a global market research company that takes pride in its services,
                  offering a complete and accurate analysis with regard to diverse markets and consumers
                  worldwide. WRMPL’s approach combines the proprietary information with various data sources to
                  give an extensive understanding to the client about the latest key developments, expected events
                  and also about what action to take based on these aspects. <br><br>
                  Our fast growing industry research firm is backed by a proficient team of research analysts that
                  offers valuable analytics and data with respect to technological and economical advancements.
                  Our deemed analysts perform industrial visits and procure the relevant information from
                  prominent market players. Our key objective is to keep our clients abridged of the potential
                  opportunities and challenges in different markets. We provide step-by-step assistance to our
                  respected clients, via strategic and consulting services to reach a managerial and actionable
                  decision.
              </p>
          </div>
          <div class="col-md-6">
              <img alt="About Us" title="About Us banner" class="img-fluid about-us-image"
                  style="width: 100%; height: 60%;"
                  src="../../../assets/contact/about-us.png">
          </div>
      </div>
  </div>
  <div class="container-fluid main-section mar-top-20">
      <section class="col-md-12 col-xs-12">
          <div class="row margin-aside">
              <h2 class="trans-capitalize txt-title color-title bg-light-grey" style="font-size:20px;"><b>Striving
                      for Value</b></h2>
              <p class="color-content text-justify">

                  Wantstats Research and Media Pvt Ltd has the distinguished objective of providing the optimal
                  quality research and granular research to clients. Our market research studies by products,
                  services, technologies, applications, end users, and market players for global, regional, and
                  country level market segments, enable our clients to see more, know more, and do more, which
                  help answer your most important questions.<br><br>
                  Our Research Analysts are eager to share their knowledge and assist you in refining market
                  research parameters, choosing right market studies, and evaluating both the market scope and the
                  research methodologies of varied segments.<br><br>
                  We bridge the gap between our clients and their clients by identifying and decoding just the
                  target group, while generating leads with the highest accuracy.<br><br>
                  Years of research into diverse fields of work has ingrained within us, a proficiency so
                  distinguished that our industry-specific specialists identify with your business ideas and feel
                  the pulse of your challenges and opportunities. This enables us for providing assistance,
                  through our consulting and strategic consulting services, in informed managerial decision
                  making. In order to stay updated with technology and work process of the industries, WantStats
                  Research and Media often conducts industrial visits for its research analysts. Relevant inputs
                  from various established market participants, help our clients make significant contribution in
                  respective markets are a huge motivation for all of us to endlessly furnish quality. We depend
                  greatly on profound insights into complex realms of our study.<br><br>
                  A major part of our understanding is derived from interactions with distinguished icons of the
                  society, forming part of our primary research.<br><br>
                  Intervention from passionate institutions, is deeply cherished by all of us.<br>
              </p>
              <h2 class="trans-capitalize txt-title color-title bg-light-grey"><b>While crafting precision</b>
              </h2>
              <p class="color-content text-justify">
                  Our teams are specialized in respective industries and have thorough knowledge of respective
                  markets. They are eager to assist you, by sharing their knowledge, not only in refining
                  research, consulting, and lead generation parameters, and but also in helping you make the right
                  choices of products or services. Together, we can start a discussion, find solutions and even
                  develop new ideas. We will be happy to welcome you to the family.<br><br>
                  Wantstats Research And Media Pvt. Ltd. has specialized research analysts in the areas of
                  Aerospace &amp; Defense, Automotive, C&amp;M, Energy &amp; Power, F&amp;B, Healthcare &amp;
                  Pharmaceutical, ICT, Industrial Equipment, Packaging Construction &amp; Mining and
                  Semiconductor.
              </p>
          </div>
      </section>
  </div>
</section>
