<!-- <div class="position-relative">
  <div class="mr-auto">
    <button type="button" class="modal-close-btn btn btn-secondary" aria-label="Close" (click)="doClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="col-6 scroll-75-height">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bar chart Details</h5>
          <form [formGroup]="barChartInfoForm" (ngSubmit)="onSubmitBarChartInfo()" class="mfr-form">
            <div class="container">
              <div class="row">
                <mat-form-field class="mfr-full-width">
                  <input matInput placeholder="Chart Title" type="text" name="title" id="title"
                         formControlName="title"
                         required>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="mfr-full-width">
                  <input matInput placeholder="Source" type="text" name="source" id="source" formControlName="source"
                         required>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <input matInput placeholder="Label-X" type="text" name="labelX" id="labelX" formControlName="labelX"
                         required>
                </mat-form-field>
                <span>&nbsp;</span>
                <mat-form-field>
                  <input matInput placeholder="Label-Y" type="text" name="labelY" id="labelY" formControlName="labelY"
                         required>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="mfr-full-width">
                  <input matInput placeholder="No of bars" type="number" name="bars" id="bars" formControlName="bars"
                         required>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-card>
                  <mat-card-content formArrayName="stacks">
                    <div *ngFor="let item of stacks.controls; let i = index;">
                      <div [formGroupName]="i">
                        <mat-form-field>
                          <input matInput formControlName="header" placeholder="Stack Name">
                        </mat-form-field>
                        <button (click)="removeBarHeader(i)" type="button" class="btn btn-danger bar-cross-btn"><i
                          class="fa fa-times"></i></button>
                      </div>
                    </div>
                    <button mat-raised-button type="button" (click)="addColumn(); barChartInfoForm.markAsTouched()"
                            color="primary">Add
                    </button>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="row mt-2">
                <button [disabled]="!barChartInfoForm.valid" mat-raised-button color="primary">Create Bar
                  Input
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6 scroll-75-height" *ngIf="renderTable">
      <div class="row">
        <app-editable-grid [columnsMetaData]="colMetaData" [dataStore]="dataStore"></app-editable-grid>
      </div>
      <div class="row mt-2">
        <button mat-raised-button (click)="rederBarChart()" color="primary">Preview Bar Chart</button>
      </div>
      <div class="row mt-2" *ngIf="renderBar">
        <p>Bar Graph Preview</p>
        <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
                [plugins]="chartPlugins" [legend]="chartLegend" [chartType]="chartType">
        </canvas>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <button mat-raised-button [disabled]="!renderBar" (click)="submitBarChartInput()" color="primary">Save</button>
      <button class="ml-2" mat-raised-button (click)="doClose()">Cancel</button>
    </div>
  </div>
</div> -->
