.sectionRooftitle {
  color: #000;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.main-text {
  font-size: 20px;
  font-weight: 700;
}

body {
  font-size: 14px;
}
.mar-top-20 {
  margin-top: 20px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .search_1 button {
    right: 0px;
    left: 136px;
  }
}
