<section>
  <div class="container" style="text-align:justify;">
    <h1 class="sectionRooftitle mar-top-20">Subscription Service Provider Terms &amp; Conditions</h1>
    <p class="mar-top-20">Wantstats Research and Media Pvt.Ltd. (Hereinafter referred as “WRMPL”) provides a
      personalized subscription service that allows our members to access content (“WRMPL content”) over the
      Internet/Internet-connected Websites</p>
    These Terms of Use govern your use of our service.As used in these Terms of Use,“WRMPL service", "our
    service" or "the service"means the personalized service provided by Wantstats Research and Media Pvt.Ltd for
    discovering and accessing “WRMPL” content, including all features and functionalities, recommendations and
    reviews, our websites, and user interfaces, as well as all content and software associated with our service.
    References to ‘you’ in these Terms of Use indicate the member who created the Wantstats Research and Media
    Pvt. Ltd account and whose payment method is charged.
    <h3 class="main-text mar-top-20 ">1. Membership</h3>
    &nbsp;&nbsp;&nbsp;&nbsp;1.1. Your Wantstats Research and Media Pvt. Ltd membership will continue until
    terminated. To use the Wantstats Research and Media Pvt. Ltd service you must have Internet access and a
    Wantstats Research and Media Pvt. Ltd Websites , and provide us with one or more Payment Methods. “Payment
    Method” means a current, valid, accepted method of payment, as may be updated from time to time, and which
    may include payment through your account with a third party. Unless you cancel your membership before your
    billing date, you authorize us to charge the membership fee for the next billing cycle to your Payment
    Method (see "Cancellation" below).<br>
    &nbsp;&nbsp;&nbsp;&nbsp;1.2. We may offer a number of membership plans, including memberships offered by
    third parties in conjunction with the provision of their own products and services.We are not responsible
    for the products and services provided by such third parties. Some membership plans may have differing
    conditions and limitations, which will be disclosed at your sign-up or in other communications made
    available to you. You can find specific details regarding your Wantstats Research and Media Pvt. Ltd
    membership by visiting the <a href="https://platform.wantstats.com/#/home">www.platform.wantstats.com</a> website
    and clicking on
    the "Account" link available at the top of the pages under your profile name.
    <h3 class="main-text mar-top-20">2. Promotional Offers.</h3>
    &nbsp;&nbsp;&nbsp;&nbsp;2.1 We may from time to time offer special promotional offers, plans or memberships
    (“Offers”). Offer eligibility is determined by WRMPL at its sole discretion and we reserve the right to
    revoke an Offer and put your account on hold in the event that we determine you are not eligible. Members of
    households with an existing or recent WRMPL membership may not be eligible for certain introductory Offers.
    We may use information such as device ID, method of payment or an account email address used with an
    existing or recent WRMPL membership to determine Offer eligibility. The eligibility requirements and other
    limitations and conditions will be disclosed when you sign-up for the Offer or in other communications made
    available to you.
    <h3 class="main-text mar-top-20">3. Billing and Cancellation</h3>
    &nbsp;&nbsp;&nbsp;&nbsp;3.1. Billing Cycle: The membership fee for the WRMPL service and any other charges
    you may incur in connection with your use of the service, such as taxes and possible transaction fees, will
    be charged to your Payment Method on the specific payment date indicated on the "Account" page. The length
    of your billing cycle will depend on the type of subscription that you choose when you signed up for the
    service. In some cases your payment date may change, for example if your Payment Method has not successfully
    settled, when you change your subscription plan or if your paid membership began on a day not contained in a
    given month. Visit the <a href="https://platform.wantstats.com/#/home">www.platform.wantstats.com</a> website and
    click on the
    "Your Subcription" link on the "My Account" page to see your next payment date. We may authorize your
    Payment Method in anticipation of membership or service-related charges through various methods, including
    authorizing it for up to approximately one month of service as soon as you register.If you signed up for
    WRMPL using your account with a third party as a Payment Method, you can find the billing information about
    your Wantstats Research and Media Pvt. Ltd membership by visiting your account with the applicable third
    party.
    <h3 class="main-text mar-top-20">4. Pricing and Orders</h3>
    &nbsp;&nbsp;&nbsp;&nbsp;4.1 WRMPL may charge a Subscriber such fee for its Subscription Package as Service
    Provider may see fit, subject to any maximum price determined by WRMPL from time to time. However, the
    amount payable by subscriber to WRMPL (“Subscription Fee”) will be the price specified by WRMPL from time to
    time as payable by subscriber for that Subscription Package.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;4.2 WRMPL shall keep subscriber informed of WRMPL’s recommended and special offer
    subscription prices, which WRMPL may vary from time to time at its discretion.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;4.3 WRMPL shall, promptly upon accepting a request for a Subscription Package from a
    Subscriber, place an Order (in the format notified by WRMPL to Subscriber and containing all the information
    requested by WRMPL) with WRMPL for that Subscription Package.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;4.4 WRMPL may in its absolute discretion decline for any reason to fulfill an Order
    and no obligation or liability to Service Provider or to any other person shall be incurred by WRMPL in
    doing this. Service Provider shall make this clear to any potential Subscriber prior to Service Provider
    placing an Order on that Subscriber’s behalf.
    <h3 class="main-text mar-top-20">5. Payment Methods</h3>
    &nbsp;&nbsp;&nbsp;&nbsp;5.1 To use the WRMPL service you must provide one or more Payment Methods. You
    authorize us to charge any Payment Method associated to your account in case your primary Payment Method is
    declined or no longer available to us for payment of your subscription fee. You remain responsible for any
    uncollected amounts. If a payment is not successfully settled, due to expiration, insufficient funds, or
    otherwise, and you do not cancel your account, we may suspend your access to the service until we have
    successfully charged a valid Payment Method.For some Payment Methods, the issuer may charge you certain
    fees, such as foreign transaction fees or other fees relating to the processing of your Payment Method.
    Local tax charges may vary depending on the Payment Method used. Check with your Payment Method service
    provider for details.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;5.2. Updating your Payment Methods: You can update your Payment Methods by going to
    the "Account" page. We may also update your Payment Methods using information provided by the payment
    service providers. Following any update, you authorize us to continue to charge the applicable Payment
    Method(s).<br>
    &nbsp;&nbsp;&nbsp;&nbsp;5.3. Cancellation: You can cancel your WRMPL membership at any time, and you will
    continue to have access to the WRMPL service through the end of your billing period. To the extent permitted
    by the applicable law, payments are non-refundable and we do not provide refunds or credits for any partial
    membership periods or unused WRMPL content. To cancel, go to the "Account" page and follow the instructions
    for cancellation.If you cancel your membership, your account will automatically close at the end of your
    current billing period. To see when your account will close, click "Billing details" on the "Account" page.
    If you signed up for WRMPL using your account with a third party as a Payment Method and wish to cancel your
    WRMPL membership, you may need to do so through such third party, for example by visiting your account with
    the applicable third party and turning off auto-renew, or unsubscribing from the WRMPL service through that
    third party.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;5.4 Changes to the Price and Subscription Plans: We may change our subscription
    plans and the price of our service from time to time; however, any price changes or changes to your
    subscription plans will apply no earlier than 30 days following notice to you.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;5.5 In the event that a Subscription Package is cancelled or terminated at any time
    during the Subscription Term, WRMPL shall not be obliged to refund any Subscription Fees or other fees or
    charges to Subscriber, regardless of any agreement WRMPL may have with its Subscribers. In the event that
    WRMPL does elect to make any refund or partial refund to Subscriber , WRMPL shall promptly refund to the
    Subscriber the corresponding amount paid by that Subscriber.
    <h3 class="main-text mar-top-20">6. Taxes</h3>
    &nbsp;&nbsp;&nbsp;&nbsp;6.1 Subscription Fees and all other charges are exclusive of value added tax
    (VAT)/GST/Service Tax or any other sales or similar taxes which are or may be applicable.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;6.2 All amounts due to be paid to WRMPL under this Agreement shall be paid in full,
    without set-off or counterclaim and free and clear of and without any deduction or withholding for, or on
    account of, any present or future taxes, duties, levies, imposts or charges of any nature.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;6.3 If WRMPL is required by any law or regulation to make any deduction or
    withholding (on account of tax or otherwise) from any payment, subscriber shall, together with such payment,
    pay such additional amount as will ensure that WRMPL receives, free and clear of any tax or other deduction
    or withholding, the full amount which it would have received if no such deduction or withholding had been
    required. Subscriber shall promptly forward to WRMPL copies of official receipts or other evidence showing
    that the full amount of any such deduction or withholding has been paid over to the relevant taxation or
    other authority.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;6.4 The parties agree to comply with the applicable double tax treaty with respect
    of withholding taxes and WRMPL shall comply with all reasonable requests from subscriber to file, or to
    provide subscriber with such forms, statements or certificates as shall enable subscriber to apply a reduced
    rate of tax or exemption.
    <h3 class="main-text mar-top-20">7. WRMPL Service</h3>
    &nbsp;&nbsp;&nbsp;&nbsp;7.1. You must be at least 18 years of age to become a member of the WRMPL service.
    Minors may only use the service under the supervision of an adult.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;7.2. The WRMPL service and any content accessed through the service are for your
    personal and non-commercial use only and may not be shared with individuals unless otherwise allowed by your
    subscription plan. During your WRMPL membership we grant you a limited, non-exclusive, non-transferable
    right to access the WRMPL service and WRMPL content. Except for the foregoing, no right, title or interest
    shall be transferred to you. You agree not to use the service for any other activities.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;7.3. You may access the WRMPL content primarily within the country in which you have
    established your account and only in geographic locations where we offer our service and have licensed such
    content. For the purpose of determining the taxes that will be charged over your subscription fee, we will
    use the IP address that is used when you sign up to the WRMPL service. The content that may be available
    will vary by geographic location and will change from time to time. The number of devices on which you may
    simultaneously watch depends on your chosen subscription plan and is specified on the "My Account" page.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;7.4. The WRMPL service, including the content library, is regularly updated. In
    addition, we continually test various aspects of our service, including our websites, user interfaces and
    promotional features. You can turn off test participation at any time by visiting the "Account" page and
    changing the "Test participation" settings.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;7.5. You agree to use the WRMPL service, including all features and functionalities
    associated therewith, in accordance with all applicable laws, rules and regulations, or other restrictions
    on use of the service or content therein. Except as explicitly authorized by us, you agree not to:
    (i) archive, reproduce, distribute, modify, display, perform, publish, license, create derivative works
    from, offer for sale, or use content and information contained on or obtained from or through the WRMPL
    service;
    (ii) circumvent, remove, alter, deactivate, degrade, block, obscure or thwart any of the content protections
    or other elements of the WRMPL service, including the graphical user interface, copyright notices, and
    trademarks;
    (iii) use any robot, spider, scraper or other automated means to access the WRMPL service;
    (iv) decompile, reverse engineer or disassemble any software or other products or processes accessible
    through the WRMPL service;
    (v) insert any code or product or manipulate the content of the WRMPL service in any way;
    (vi) use any data mining, data gathering or extraction method;
    (vii) upload, post, e-mail or otherwise send or transmit any material designed to interrupt, destroy or
    limit the functionality of any computer software or hardware or telecommunications equipment associated with
    the WRMPL service, including any software viruses or any other computer code, files or programs.
    We may terminate or restrict your use of our service if you violate these Terms of Use or are engaged in
    illegal or fraudulent use of the service.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;7.6. You are responsible for all Internet access charges. Please check with your
    Internet provider for information on possible Internet data usage charges. The time it takes to browse WRMPL
    content will vary based on a number of factors, including your location, available bandwidth at the time,
    the content you have selected and the configuration of your WRMPL ready device.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;7.7. WRMPL software is developed by, or for, WRMPL and may solely be used for
    authorized and to access WRMPL content through WRMPL ready devices. This software may vary by device and
    medium, and functionalities and features may also differ between devices. You acknowledge that the use of
    the service may require third party software that is subject to third party licenses. You agree that you may
    automatically receive updated versions of the WRMPL software and related third-party software.<br>
    <h3 class="main-text mar-top-20">8. Passwords and Account Access.</h3>
    You are responsible for any activity that occurs through the WRMPL account. By allowing others to access the
    account (which includes access to information on viewing activity for the account), you agree that such
    individuals are acting on your behalf and that you are bound by any changes that they may make to the
    account, including but not limited to changes to the subscription plan. To help maintain control over the
    account and to prevent any unauthorized users from accessing the account, you should maintain control over
    the devices that are used to access the service and not reveal the password or details of the Payment Method
    associated with the account to anyone. You agree to provide and maintain accurate information relating to
    your account, including a valid email address so we can send you account related notices. We can terminate
    your account or place your account on hold in order to protect you, WRMPL or our partners from identity
    theft or other fraudulent activity.
    <h3 class="main-text mar-top-20">9. Warranties and Limitations on Liability.</h3>
    &nbsp;&nbsp;&nbsp;&nbsp;9.1 The WRMPL service is provided "as is" and without warranty or condition. In
    particular, our service may not be uninterrupted or error-free. You waive all special, indirect and
    consequential damages against us. These terms will not limit any non-waivable warranties or mandatory
    consumer protection rights that apply to you.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;9.2 Neither WRMPL nor any third-party provider of information endorses nor
    guarantees the accuracy, completeness, or usefulness of any content in the Subscription Packages, nor their
    merchantability or fitness for any particular purpose nor that the delivery will be error-free or at a
    particular time.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;9.3 Each party warrants and represents to the other that it has the full power and
    authority to enter into this Agreement.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;9.4 It is hereby agreed that except as expressly set out in this Agreement and to
    the extent permissible by law, all warranties, conditions, representations, terms or undertakings, express
    or implied, statutory or otherwise are hereby excluded.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;9.5 WRMPL shall not have any liability to Service Provider to the extent such
    liability arises as a result of a breach of this Agreement by Service Provider or a breach of the <a
      href="https://platform.wantstats.com/#/home">www.platform.wantstats.com</a> Terms and Conditions (or any other
    contractual
    terms between WRMPL and a Subscriber) by a Subscriber.<br>
    <h3 class="main-text mar-top-20">10. Anti-facilitation of tax evasion</h3>
    &nbsp;&nbsp;&nbsp;&nbsp;10.1 Subscriber will not engage in any activity, practice or conduct which would
    constitute offence of Tax Evasion of their country or as per Indian Law.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;10.2 Service Provider has and will maintain in place throughout the term of this
    agreement such policies and procedures as are both reasonable to prevent the facilitation of tax evasion by
    another person (including without limitation employees of Service Provider) and to ensure the law.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;10.3 WRMPL will have the right to terminate this Agreement with immediate effect
    should it have reason to believe subscriber has acted, or will act, in breach of this clause without any
    further liability to subscriber.
    <h3 class="main-text mar-top-20">11. Data Protection</h3>
    &nbsp;&nbsp;&nbsp;&nbsp;11.1 In this Agreement:<br>
    (a)“Data Protection Laws”means any data protection or privacy laws applicable in the India from time to time
    (b)“Personal Data”means any personal data processed by subscriber in connection with its activities under
    this Agreement; and
    &nbsp;&nbsp;&nbsp;&nbsp;11.2 Subscriber and WRMPL acknowledge that each of them will be a controller of the
    Personal Data.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;11.3 WRMPL shall:<br>
    (a) notify each Subscriber that their Personal Data is collected jointly with WRMPL for the purpose of
    providing the Subscription Packages and that Subscriber and WRMPL are each a controller of that Personal
    Data;
    (b) ensure that all information for Subscribers relating to WRMPL’s processing of Personal Data which is
    provided by Subscriber to WRMPL is passed on to each Subscriber as instructed by WRMPL;
    (c) implement any process requested by WRMPL for collection of any preferences or consents from Subscribers
    regarding WRMPL’s processing of personal data, and pass on to WRMPL each Subscriber’s responses to such
    preferences or consents; and
    (d) notify Subscribers that WRMPL may use Personal Data for purposes relating to the operation of the
    Subscription Package, including without limitation (i) the set-up, delivery, use, management, maintenance
    and renewal of the Subscription Package, (ii) product advice messages, (iii) service information messages,
    (iv) content notification messages, and (v) subject to each Subscriber’s marketing preferences, notifying
    Subscribers where a Subscription Package has lapsed and offering a Direct New Subscription pursuant to
    clause mentioned in this agreement.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;11.4 Subscriber will:<br>
    (a) process all Personal Data in accordance with the Data Protection Laws;
    (b) do nothing (by act or omission) that may put WRMPL in breach of the Data Protection Laws;
    (c) implement appropriate technical and organisational measures to ensure an appropriate level of security
    for the Personal Data, in particular as regards the risks of accidental or unlawful destruction, loss,
    alteration, unauthorised disclosure of, or access to Personal Data transmitted, stored or otherwise
    processed by Service Provider;
    (d) notify WRMPL immediately if it becomes aware of any unauthorised or unlawful processing, loss of, damage
    to or destruction of any Personal Data, and will provide without delay all information reasonably requested
    by WRMPL concerning any such incident;
    (e) promptly inform WRMPL about the receipt of any notices, requests or other enquiries relating to the Data
    Protection Laws which may be received by Subscribers.
    (f) promptly assist WRMPL with all notices, requests or other enquiries relating to the Data Protection Laws
    which may be received whether by WRMPL or Subscribers ;
    (g) allow its data processing facilities, procedures and documentation to be submitted for scrutiny by WRMPL
    or its auditors in order to ascertain compliance with the Data Protection Laws and the terms of this
    Agreement; and
    (h) comply with any reasonable request made by WRMPL to ensure or demonstrate compliance with the measures
    in this clause and the Data Protection Laws.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;11.5 Without limitation to clause 11.4(h), Subscriber will comply with WRMPL’s
    instructions and requirements from time to time for the secure transmission of any Personal Data between
    Service Provider and WRMPL.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;11.6 Subscriber will indemnify WRMPL in respect of any liabilities, costs, expenses,
    damages and losses (including but not limited to any direct, indirect or consequential losses, loss of
    profit, loss of reputation and all interest, penalties and legal costs (calculated on a full indemnity
    basis) and all other professional costs and expenses) suffered or incurred by WRMPL arising out of or in
    connection with any third party claim against WRMPL arising from any breach by subscriber of its obligations
    under this clause 11.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;11.7 Subscriber acknowledges that WRMPL may contact Subscribers directly from time
    to time in relation to the provision of Subscription Packages, including without limitation pursuant to
    clause of subscription.<br>
    <h3 class="main-text mar-top-20">12. Confidentiality</h3>
    &nbsp;&nbsp;&nbsp;&nbsp;12.1 Each party agrees to preserve the confidentiality of all Confidential
    Information of the other party that is obtained in connection with this Agreement, and shall not, without
    the prior written consent of the other party, disclose or make available to any person, or use for its own
    benefit other than as contemplated by this Agreement, any such Confidential Information of the other
    party.“Confidential Information”shall mean information pertaining to the business of either party that is
    actually confidential, is disclosed at the request of, or with the consent of, the receiving party, whether
    labelled confidential or not; provided that all Subscriber lists, pricing information, business methods, and
    financial records of either party shall be deemed confidential information of WRMPL even if not so labelled.
    Any Confidential Information delivered in tangible form shall be promptly returned upon written request of
    the disclosing party.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;12.2 Information will not be deemed confidential if it: (a) is already known prior
    to the Agreement to the receiving party; (b) is or becomes publicly available (other than through
    unauthorised access by the receiving party); (c) is made available to the receiving party by any person
    other than the disclosing party without breach of any obligation of confidentiality of such other person;
    (d) is independently and lawfully developed by the receiving party; or (e) for WRMPL’s benefit only, is
    acquired by members of WRMPL’s newsgathering or news dissemination operations by persons who are not
    provided with access to Service Provider’s Confidential Information pursuant to the terms of this
    Agreement.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;12.3 The obligations of this section shall survive any termination of this Agreement
    <h3 class="main-text mar-top-20">13. Class Action Waiver.</h3>
    &nbsp;&nbsp;&nbsp;&nbsp;13.1 WHERE PERMITTED UNDER THE APPLICABLE LAW, YOU AND WRMPLAGREE THAT EACH MAY
    BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS
    MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. Further, where permitted under the applicable
    law, unless both you and WRMPL agree otherwise, the court may not consolidate more than one person's claims
    with your claims, and may not otherwise preside over any form of a representative or class proceeding.
    <h3 class="main-text mar-top-20">14. Governing Law</h3>
    &nbsp;&nbsp;&nbsp;&nbsp;14.1 This agreement shall be governed by and construed in accordance with the Indian
    Laws and the parties submit to the exclusive jurisdiction of the Indian courts.
    <h3 class="main-text mar-top-20">15. Miscellinous</h3>
    &nbsp;&nbsp;&nbsp;&nbsp;15.1. Unsolicited Materials. WRMPL does not accept unsolicited materials or ideas
    for WRMPLcontent and is not responsible for the similarity of any of its content or programming in any media
    to materials or ideas transmitted to Wantstants Research and Media Pvt. Ltd.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;15.2. Customer Support.To find more information about our service and its features
    or if you need assistance with your account, please visit the WRMPL Help Center, which is accessible through
    the <a href="https://platform.wantstats.com/#/home">www.platform.wantstats.com</a> website. In certain instances,
    Customer
    Service may best be able to assist you by using a remote access support tool through which we have full
    access to your computer. If you do not want us to have this access, you should not consent to support
    through the remote access tool, and we will assist you through other means. In the event of any conflict
    between these Terms of Use and information provided by Customer Support or other portions of our websites,
    these Terms of Use will control.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;15.3. Survival. If a provision of this Agreement (or part of any provision) is found
    by any court or other authority of competent jurisdiction to be invalid, illegal or unenforceable, that
    provision or part-provision shall, to the extent required, be deemed not to form part of this Agreement, and
    the validity and enforceability of the other provisions of this Agreement shall not be affected.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;15.4. Changes to Terms of Use and Assignment.
    WRMPL may at any time and at its sole discretion change, update or amend these Terms and Conditions by
    posting a new version of the Terms and Conditions at
    https://www.wantstats.com/pages/subscription-terms-and-conditions We may assign or transfer our agreement
    with you including our associated rights and obligations at any time and you agree to cooperate with us in
    connection with such an assignment or transfer.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;15.5. Electronic Communications.We will send you information relating to your
    account (e.g. payment authorizations, invoices, changes in password or Payment Method, confirmation
    messages, notices) in electronic form only, for example via emails to your email address provided during
    registration.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;15.6 A person who is not a party to this Agreement shall not have any rights under
    or in connection with it.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;15.7 The rights and remedies provided under this Agreement are in addition to, and
    not exclusive of, any rights or remedies provided by law.
  </div>
</section>
