<div class="container-fluid">
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header p-2">
          <h5 class="modal-title">
            Alert
          </h5>
        </div>
        <div class="modal-body">
          <p>Please select the report to see the analytics</p>
        </div>
        <div class="modal-footer p-1">
          <button type="button" class="btn btn-primary" (click)="closePopup()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <div class="row margin-0">
      <div class="col-12 div-1 m8">

        <mat-card class="float-l-width padding-6">
          <div class="upper-div-container float-r-width">
            <h5 class="dashboard-title" *ngIf="dashboardData">{{dashboardData?.title}}</h5>
            <button class="dashboard-button float-right" (click)="openDashboardModal()" mat-raised-button
              color="primary">Dashboard
            </button>
            <button class="dashboard-button float-right" (click)="saveDashboardData()" mat-raised-button
              color="primary">Save
            </button>
            <button class="dashboard-button float-right" (click)="addPanel()" mat-raised-button color="primary">Add
              Panel
            </button>
          </div>
          <form [formGroup]="panelForm">
            <div formArrayName="panelItems">
              <div *ngFor="let filter of panelForm.controls['panelItems']['controls']; let i = index">
                <div [formGroupName]="i">
                  <div class="card panel-card">
                    <span class="report-panel-name">Panel- {{i + 1}} ({{reportData[i]?.title}})</span>
                    <i class="fa fa-close panel-close-button btn-dark" (click)="removePanel(i)"></i>
                    <div *ngIf="hidder[i]">
                      <i class="fa fa-download panel-download-button btn-dark" (click)="generateImage(i)"></i>
                      <i class="fa fa-file-excel-o panel-sheet-download-button btn-dark"
                        (click)="downloadBarData(i)"></i>
                      <i class="fa fa-expand panel-fullscreen-button btn-dark" (click)="openPanel(i)"></i>
                    </div>
                    <div class="card-body panel-card-body">
                      <div class="outer-panel-container float-l-width">
                        <div class="col-sm-2 padding-5 left-column">
                          <div class="card">
                            <div class="card-body padding-8">
                              <div class="controls-container">
                                <mat-form-field class="example-full-width">
                                  <input type="text" placeholder="Search Report" aria-label="Number" matInput
                                    [formControl]="myControl" [matAutocomplete]="auto">
                                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                    <mat-option class="report-option1" (onSelectionChange)="onReportSelect(option,i)"
                                      *ngFor="let option of filteredOptions | async | slice:0:20" [value]="option.title">
                                      {{option.title}}
                                    </mat-option>
                                  </mat-autocomplete>
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                  <input type="text" placeholder="Search Company" aria-label="Number" matInput
                                    [formControl]="myControlCompany" [matAutocomplete]="auto1">
                                  <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
                                    <mat-option class="report-option" (onSelectionChange)="onCompanySelect(option, i)"
                                      *ngFor="let option of companyFilteredOptions | async"
                                      [value]="option.company_name">
                                      {{option.company_name}}
                                    </mat-option>
                                  </mat-autocomplete>
                                </mat-form-field>
                                <mat-form-field class="font-12-px" *ngIf="buttonSelected[i] != 'FinancialOverview'">
                                  <mat-label>Year</mat-label>
                                  <mat-select class="font-12-px" [(ngModel)]="panelYears[i]" formControlName="years"
                                    multiple [disabled]="disYear[i]">
                                    <app-select-check-all (valueChange)="panelYears[i] = $event" [model]="panelYears[i]"
                                      [values]="years[i]"></app-select-check-all>
                                    <mat-option class="report-option" *ngFor="let y of years[i]" [value]="y">{{y}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                                <mat-form-field *ngIf="buttonSelected[i] == 'FinancialOverview'">
                                  <mat-label>Year</mat-label>
                                  <mat-select [(ngModel)]="FoPanelYears[i]" formControlName="years" multiple
                                    [disabled]="disYear[i]">
                                    <mat-option class="report-option" *ngFor="let y of FoYears[i]" [value]="y">{{y}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                                <mat-form-field *ngIf="regions[i] && regions[i].length">
                                  <mat-label>Regions</mat-label>
                                  <mat-select (selectionChange)="panelRegionChanged(i)" [(ngModel)]="panelRegions[i]"
                                    [disabled]="disRegion[i]" formControlName="regions" multiple>
                                    <app-select-check-all (valueChange)="panelRegionChanged(i, $event)"
                                      [model]="panelRegions[i]" [values]="regions[i]"></app-select-check-all>
                                    <mat-option class="report-option" *ngFor="let r of regions[i]" [value]="r?.region">
                                      {{r?.region}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                  <mat-label>Country</mat-label>
                                  <mat-select [(ngModel)]="panelCountries[i]" formControlName="countries" multiple
                                    [disabled]="disCountry[i]">
                                    <app-select-check-all (valueChange)="panelCountryChanged(i, $event)"
                                      [model]="panelCountries[i]" [values]="countries[i]"></app-select-check-all>
                                    <mat-option class="report-option" *ngFor="let c of countries[i]" [value]="c?.name">
                                      {{c?.name}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                                <div class="card bg-light">
                                  <div class="card-header-dashboard">
                                    Segments
                                  </div>
                                  <div class="card-body-dashboard">
                                    <mat-form-field *ngFor="let f of segmentsData[i]">
                                      <mat-label>{{f?.segmentName}}</mat-label>
                                      <mat-select multiple [disabled]="f.isDisable" [(ngModel)]="panelSegments[i]"
                                        [ngModelOptions]="{standalone: true}"
                                        (selectionChange)="segmentSelected($event, i)">
                                        <app-select-check-all (valueChange)="selectAllSegmentSelected($event, i)"
                                          [model]="panelSegments[i]" [values]="f?.values"></app-select-check-all>
                                        <mat-option *ngFor="let yv of f?.values" [value]="yv?.segmentName">
                                          {{yv?.segmentName}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                </div>
                                <mat-form-field *ngIf="buttonSelected[i] == 'Porters'">
                                  <mat-label>Porter's 5</mat-label>
                                  <mat-select [(ngModel)]="selectedPorters[i]" formControlName="portersDropDown"
                                    (selectionChange)="panelPortersChanged(i,$event)">
                                    <mat-option *ngFor="let p of portersDropDown[i]; let ids = index" [value]="ids">
                                      {{p}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                                <mat-form-field *ngIf="buttonSelected[i] == 'FinancialOverview'">
                                  <mat-label>Financial Overview</mat-label>
                                  <mat-select [(ngModel)]="selectFOData[i]" formControlName="FinancialOverview"
                                  (selectionChange)="panelFoChanged(i, $event)">
                                   <mat-option *ngFor="let f of contentFOList[i];" [value]="f">
                                      {{f}}
                                    </mat-option>
                      </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="apply-button-container">
                                <button class="dashboard-button" (click)="applyFilter(i)" mat-raised-button
                                  color="primary">
                                  Apply
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div *ngIf="buttonSelected[i]" [ngSwitch]="buttonSelected[i]" class="col-sm-10">

                          <!-- Default -->
                          <div *ngSwitchDefault>
                            <div class="padding-5 chart-container" id="screen{{i}}"
                              *ngIf="barChartData && barChartData[i] && barChartData[i]?.chartData && barChartData[i]?.chartData.length && dashboardBarChartOptions[i]">
                              <canvas baseChart [datasets]="barChartData[i]?.chartData" class="graph"
                                [labels]="barChartData[i]?.chartLabels" [chartType]="chartConfigs?.barChartType"
                                [options]="dashboardBarChartOptions[i]" [plugins]="chartConfigs?.barChartPlugins"
                                [legend]="chartConfigs?.barChartLegend">
                              </canvas>
                            </div>
                          </div>

                          <!-- Drivers -->
                          <div *ngSwitchCase="'Drivers'">
                            <div id="screen{{i}}" *ngIf="finalObject[i]?.length">
                              <p class="mat-caption" style="text-align: center; display: block;"><span
                                  class="font-weight-bold">Title
                                  :</span>Market Drivers, {{reportData[i]?.title}}
                                [{{reportData[i]?.me?.start_year}} - {{reportData[i]?.me?.end_year}}]
                              </p>
                              <div style=" text-align: center;font-size: 12px">Year: {{showYear[i]}}</div>
                              <div id="driver-container{{i}}"></div>
                              <p class="mat-caption" style="margin: 0;display: block"><span
                                  class="font-weight-bold">Source
                                  :</span> Wantstats
                              </p>
                            </div>
                            <div *ngIf="!finalObject[i]?.length">
                              no rating data found
                            </div>
                          </div>

                          <!-- Restraints -->
                          <div *ngSwitchCase="'Restraints'">
                            <div id="screen{{i}}" *ngIf="finalObject[i]?.length">
                              <p class="mat-caption" style="text-align: center;display: block;"><span
                                  class="font-weight-bold">Title
                                  :</span>Market Restraints, {{reportData[i]?.title}}
                                [{{reportData[i]?.me?.start_year}} - {{reportData[i]?.me?.end_year}}]
                              </p>
                              <div style=" text-align: center;font-size: 12px">Year: {{showYear[i]}}</div>
                              <div id="driver-container{{i}}"></div>
                              <p class="mat-caption" style="margin: 0;display: block"><span
                                  class="font-weight-bold">Source
                                  :</span> Wantstats
                              </p>
                            </div>
                            <div *ngIf="!finalObject[i]?.length">
                              no rating data found
                            </div>
                          </div>

                          <!-- Supply chain/ value chain -->
                          <div *ngSwitchCase="'SupplyChain'">
                            <div id="screen{{i}}" style="width: 100%;">
                              <p class="mat-caption" style="text-align: center;display: block;"><span
                                  class="font-weight-bold">Title
                                  :</span>Market Factor Analysis, {{chainType[i]}},{{reportData[i]?.title}}
                                [{{reportData[i]?.me?.start_year}} - {{reportData[i]?.me?.end_year}}]
                              </p>
                              <div class="row align-center" style="height: 120%;">
                                <div #mermaid class="mermaid svg-width" id="mermaidId{{i}}"></div>
                              </div>
                              <p class="mat-caption" style="margin: 0;display: block"><span
                                  class="font-weight-bold">Source
                                  :</span> Wantstats
                              </p>
                            </div>
                          </div>

                          <!-- Porter's 5 forces -->
                          <div *ngSwitchCase="'Porters'">
                            <div [ngSwitch]="selectedPorters[i]">
                              <div style="display: flex" *ngSwitchCase="'Porters 5 forces'">
                                <div id="portersGraph{{i}}">
                                  <div class="top-btns">
                                    <ul>
                                      <li (click)="generateImagePorters(i, 'portersChart')">Download</li>
                                      <li (click)="openPorterPanel(i,true)"> Enlarge</li>
                                    </ul>
                                  </div>
                                  <div id="portersChart{{i}}">
                                    <div class="center">
                                      <p class="mat-caption" style="text-align: center;display: block;"><span
                                          class="font-weight-bold">Title
                                          :</span>Market Factor Analysis, Porter's 5 Forces,
                                        {{reportData[i]?.title}}
                                        market
                                        [{{reportData[i]?.me?.start_year}} - {{reportData[i]?.me?.end_year}}]
                                      </p>
                                    </div>
                                    <div style="height: 350px">
                                      <div class="container" id="porter{{i}}"></div>
                                      <p class="mat-caption" style="margin: 0;display: block"><span
                                          class="font-weight-bold">Source
                                          :</span> Wantstats
                                      </p>
                                    </div>
                                  </div>
                                </div>
                                <div style="margin-left: 10px">
                                  <div class="top-btns">
                                    <ul>
                                      <li (click)="generateImagePorters(i, 'portersDiagram')">Download</li>
                                      <li (click)="openPorterPanel(i,false)"> Enlarge</li>
                                    </ul>
                                  </div>
                                  <mat-card-content id="portersDiagram{{i}}" style="padding:0 10px;height: 370px">
                                    <div class="center" style="padding-bottom: 10px">
                                      <p class="mat-caption" style="text-align: center;display:block"><span
                                          class="font-weight-bold">Title
                                          :</span>Market Factor Analysis, Porter's 5 Forces,
                                        {{reportData[i]?.title}} market
                                        [{{reportData[i]?.me?.start_year}} - {{reportData[i]?.me?.end_year}}]
                                      </p>
                                    </div>
                                    <div class="porters porters-50">
                                      <div class="flexer wrapper">
                                        <div class="block"
                                          [ngClass]="threats[i]==='low'?'green':'' || threats[i]==='medium' ? 'grey':'' || threats[i] === 'high'?'red':''">
                                          <div class="h6">Threat of New Entrants ({{threats[i]}})</div>
                                        </div>
                                        <div class="triangle-down"
                                          [ngClass]="threats[i]==='low'?'t-down-green':'' || threats[i]==='medium' ? 't-down-grey':'' || threats[i] === 'high'?'t-down-red':''">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="porters middle">
                                      <div class="flexer">
                                        <div class="block-v"
                                          [ngClass]="suppliers[i]==='low'?'green':'' || suppliers[i]==='medium' ? 'grey':'' || suppliers[i] === 'high'?'red':''">
                                          <h6 class="h6">Bargaining Power of Suppliers ({{suppliers[i]}})</h6>
                                        </div>
                                        <div class="triangle-left"
                                          [ngClass]="suppliers[i]==='low'?'t-left-green':'' || suppliers[i]==='medium' ? 't-left-grey':'' || suppliers[i] === 'high'?'t-left-red':''">
                                        </div>
                                      </div>
                                      <div class="block-o"
                                        [ngClass]="segments[i]==='low'?'green':'' || segments[i]==='medium' ? 'grey':'' || segments[i] === 'high'?'red':''">
                                        <div class="block-in">
                                          <h6 class="h6">Segment Rivalry ({{segments[i]}})</h6>
                                        </div>
                                      </div>
                                      <div class="flexer">
                                        <div class="triangle-right"
                                          [ngClass]="buyers[i]==='low'?'t-right-green':'' || buyers[i]==='medium' ? 't-right-grey':'' || buyers[i] === 'high'?'t-right-red':''">
                                        </div>
                                        <div class="block-v"
                                          [ngClass]="buyers[i]==='low'?'green':'' || buyers[i]==='medium' ? 'grey':'' || buyers[i] === 'high'?'red':''">
                                          <h6 class="h6">Bargaining Power of Buyers ({{buyers[i]}})</h6>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="porters porters-50">
                                      <div class="flexer wrapper">
                                        <div class="triangle-up"
                                          [ngClass]="substitutes[i]==='low'?'t-up-green':'' || substitutes[i]==='medium' ? 't-up-grey':'' || substitutes[i] === 'high'?'t-up-red':''">
                                        </div>
                                        <div class="block"
                                          [ngClass]="substitutes[i]==='low'?'green':'' || substitutes[i]==='medium' ? 'grey':'' || substitutes[i] === 'high'?'red':''">
                                          <h6 class="h6">Threat of Substitutes ({{substitutes[i]}})</h6>
                                        </div>
                                      </div>
                                    </div>
                                    <div>
                                      <p class="mat-caption"><span class="font-weight-bold">Source
                                          :</span> Wantstats
                                      </p>
                                    </div>
                                  </mat-card-content>
                                </div>
                              </div>
                              <div *ngSwitchCase="'Threat of New Entrants'">
                                <div id="screen{{i}}">
                                  <div class="center" style="padding-bottom: 10px">
                                    <p class="mat-caption" style="text-align: center;display:block"><span
                                        class="font-weight-bold">Title
                                        :</span>Market Factor Analysis, Porter's 5 Forces,
                                      {{reportData[i]?.title}}
                                      [{{reportData[i]?.me?.start_year}} - {{reportData[i]?.me?.end_year}}]
                                    </p>
                                  </div>
                                  <app-porters-dropdown [dataType]="selectedPorters[i]" [chartId]="portersId[i]"
                                    [index]="i" [reportId]="reportData[i]">
                                  </app-porters-dropdown>
                                  <p class="mat-caption" style="margin: 0;display: block"><span
                                      class="font-weight-bold">Source
                                      :</span> Wantstats
                                  </p>
                                </div>
                              </div>
                              <div *ngSwitchCase="'Segment Rivalry'">
                                <div id="screen{{i}}">
                                  <div class="center" style="padding-bottom: 10px">
                                    <p class="mat-caption" style="text-align: center;display:block"><span
                                        class="font-weight-bold">Title
                                        :</span>Market Factor Analysis, Porter's 5 Forces,
                                      {{reportData[i]?.title}}
                                      [{{reportData[i]?.me?.start_year}} - {{reportData[i]?.me?.end_year}}]
                                    </p>
                                  </div>
                                  <app-porters-dropdown [dataType]="selectedPorters[i]" [chartId]="portersId[i]"
                                    [index]="i" [reportId]="reportData[i]">
                                  </app-porters-dropdown>
                                  <p class="mat-caption" style="margin: 0;display: block"><span
                                      class="font-weight-bold">Source
                                      :</span> Wantstats
                                  </p>
                                </div>
                              </div>
                              <div *ngSwitchCase="'Threat of Substitutes'">
                                <div id="screen{{i}}">
                                  <div class="center" style="padding-bottom: 10px">
                                    <p class="mat-caption" style="text-align: center;display:block"><span
                                        class="font-weight-bold">Title
                                        :</span>Market Factor Analysis, Porter's 5 Forces,
                                      {{reportData[i]?.title}}
                                      [{{reportData[i]?.me?.start_year}} - {{reportData[i]?.me?.end_year}}]
                                    </p>
                                  </div>
                                  <app-porters-dropdown [dataType]="selectedPorters[i]" [chartId]="portersId[i]"
                                    [index]="i" [reportId]="reportData[i]">
                                  </app-porters-dropdown>
                                  <p class="mat-caption" style="margin: 0;display: block"><span
                                      class="font-weight-bold">Source
                                      :</span> Wantstats
                                  </p>
                                </div>
                              </div>
                              <div *ngSwitchCase="'Bargaining Power of Suppliers'">
                                <div id="screen{{i}}">
                                  <div class="center" style="padding-bottom: 10px">
                                    <p class="mat-caption" style="text-align: center;display:block"><span
                                        class="font-weight-bold">Title
                                        :</span>Market Factor Analysis, Porter's 5 Forces,
                                      {{reportData[i]?.title}}
                                      [{{reportData[i]?.me?.start_year}} - {{reportData[i]?.me?.end_year}}]
                                    </p>
                                  </div>
                                  <app-porters-dropdown [dataType]="selectedPorters[i]" [chartId]="portersId[i]"
                                    [index]="i" [reportId]="reportData[i]">
                                  </app-porters-dropdown>
                                  <p class="mat-caption" style="margin: 0;display: block"><span
                                      class="font-weight-bold">Source
                                      :</span> Wantstats
                                  </p>
                                </div>
                              </div>
                              <div *ngSwitchCase="'Bargaining Power of Buyers'">
                                <div id="screen{{i}}">
                                  <div class="center" style="padding-bottom: 10px">
                                    <p class="mat-caption" style="text-align: center;display:block"><span
                                        class="font-weight-bold">Title
                                        :</span>Market Factor Analysis, Porter's 5 Forces,
                                      {{reportData[i]?.title}}
                                      [{{reportData[i]?.me?.start_year}} - {{reportData[i]?.me?.end_year}}]
                                    </p>
                                  </div>
                                  <app-porters-dropdown [dataType]="selectedPorters[i]" [chartId]="portersId[i]"
                                    [index]="i" [reportId]="reportData[i]">
                                  </app-porters-dropdown>
                                  <p class="mat-caption" style="margin: 0;display: block"><span
                                      class="font-weight-bold">Source
                                      :</span> Wantstats
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- financial Overview -->
                          <div *ngSwitchCase="'FinancialOverview'">
                            <div *ngIf="renderBar[i]" id="screen{{i}}">
                              <p class="mat-caption" style="text-align: center;display: block;"><span
                                  class="font-weight-bold">Title
                                  :</span>
                                {{companyData[i].company_name}},
                                Financial Overview,
                                {{selectFOData[i]}}
                              </p>
                              <!-- <canvas baseChart [datasets]="barChartData[i]?.FinancialOverview?.data"
                                [labels]="barChartData[i]?.FinancialOverview?.labels"
                                [options]="chartConfigs?.barChartOptions" [plugins]="chartConfigs?.barChartPlugins"
                                [legend]="chartConfigs?.barChartLegend" [chartType]="chartConfigs?.barChartType" id="i">
                              </canvas> -->
                              <p class="mat-caption" style="margin: 0;display: block"><span
                                  class="font-weight-bold">Source
                                  :</span> Wantstats
                              </p>
                            </div>
                          </div>

                          <!-- product offering -->
                          <div *ngSwitchCase="'ProductOffering'">
                            <div id="screen{{i}}">
                              <p class="mat-caption" style="text-align: center;display: block;"><span
                                  class="font-weight-bold">Title
                                  :</span>{{companyData[i]?.company_name}}, Product/service offering
                              </p>
                              <div id="org-chart-container{{i}}"></div>
                              <p class="mat-caption" style="margin: 0;display: block"><span
                                  class="font-weight-bold">Source
                                  :</span> Wantstats
                              </p>
                            </div>
                          </div>

                          <!-- SWOT -->
                          <div *ngSwitchCase="'SWOT'">
                            <div id="screen{{i}}" style="
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            flex-wrap: wrap;
                        ">
                              <p class="mat-caption" style="text-align: center;display: block;"><span
                                  class="font-weight-bold">Title
                                  :</span>{{companyData[i]?.company_name}}, SWOT analysis,
                                {{reportData[i]?.title}}
                                [{{reportData[i]?.me?.start_year}} - {{reportData[i]?.me?.end_year}}]
                              </p>
                              <div class="swot-container">
                                <div class="swot bg1">
                                  <p>Strength</p>
                                  <ul>
                                    <li *ngFor="let item of strength[i]">{{item.name}}</li>
                                  </ul>
                                </div>
                                <div class="swot bg2">
                                  <p>Weakness</p>
                                  <ul>
                                    <li *ngFor="let item of weakness[i]">{{item.name}}</li>
                                  </ul>
                                </div>
                                <div class="swot bg3">
                                  <p>Opportunity</p>
                                  <ul>
                                    <li *ngFor="let item of opportunity[i]">{{item.name}}</li>
                                  </ul>
                                </div>
                                <div class="bg5">
                                </div>
                                <div class="swot bg4">
                                  <p>Threat</p>
                                  <ul>
                                    <li *ngFor="let item of threat[i]">{{item.name}}</li>
                                  </ul>
                                </div>
                              </div>
                              <p class="mat-caption" style="margin: 0;display: block;width: 100%;"><span
                                  class="font-weight-bold">Source
                                  :</span> Wantstats
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="segment-buttons-container">
                        <button [ngClass]="{'disabled-dashboard-button': buttonSelected[i] == 'Region'}"
                          class="dashboard-button" (click)="selectRegion(i)" mat-raised-button color="primary">
                          Region
                        </button>
                        <button [ngClass]="{'disabled-dashboard-button': buttonSelected[i] == 'Country'}"
                          class="dashboard-button" (click)="selectCountry(i)" mat-raised-button color="primary">
                          Country
                        </button>
                        <button (click)="selectSegment(b,i)" *ngFor="let b of segmentsData[i]"
                          [ngClass]="{'disabled-dashboard-button': buttonSelected[i] == b?.segmentName}"
                          class="dashboard-button" mat-raised-button color="primary">{{b?.segmentName}}</button>
                        <button [ngClass]="{'disabled-dashboard-button': buttonSelected[i] == 'Drivers'}"
                          class="dashboard-button" (click)="selectDrivers(i,'Drivers')" mat-raised-button
                          color="primary">
                          Drivers
                        </button>
                        <button [ngClass]="{'disabled-dashboard-button': buttonSelected[i] == 'Restraints'}"
                          class="dashboard-button" mat-raised-button color="primary"
                          (click)="selectDrivers(i,'Restraints')">Restraints
                        </button>
                        <button [ngClass]="{'disabled-dashboard-button': buttonSelected[i] == 'SupplyChain'}"
                          class="dashboard-button" mat-raised-button color="primary"
                          (click)="selectSupplyChain(i)">Supply/Value chain
                        </button>
                        <button [ngClass]="{'disabled-dashboard-button': buttonSelected[i] == 'Porters'}"
                          class="dashboard-button" mat-raised-button color="primary" (click)="selectPorters(i)">
                          Porter's
                          5
                        </button>
                        <button [ngClass]="{'disabled-dashboard-button': buttonSelected[i] == 'FinancialOverview'}"
                          class="dashboard-button" mat-raised-button color="primary"
                          (click)="selectFinancialOverview(i)" *ngIf="selectedCompany[i]">
                          Financial Overview
                        </button>
                        <button [ngClass]="{'disabled-dashboard-button': buttonSelected[i] == 'ProductOffering'}"
                          class="dashboard-button" mat-raised-button color="primary" (click)="selectProductOffering(i)"
                          *ngIf="selectedCompany[i]">
                          Product/Services offering
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </mat-card>
      </div>

    </div>
  </div>
</div>
<div style="display: none" id="download">
  <img #canvas>
  <a #downloadLink></a>
</div>
