<div class="parent-wrapper">
    <div class="container d-flex justify-content-center">
      <div class="card mt-5">
        <div (click)="toggleIsOpen()" class="d-flex flex-row justify-content-between p-3 adiv text-white">
          <!-- <i class="fa fa-mail-reply" aria-hidden="true"></i> -->
          <b class="pb-0 fw-bold">Wizzy</b>
          <i *ngIf="isOpen" class="fa fa-times" ></i>
          <i *ngIf="!isOpen" class="fa fa-chevron-up" aria-hidden="true"></i>
        </div>
        <div *ngIf="!isOpen">
  
        </div>
        <div *ngIf="isOpen" class="chat-container" >
          <div *ngFor="let message of messages">
            <div class="d-flex flex-row p-3" *ngIf="message.from == 'bot'">
              <img
                src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-7.png"
                width="30"
                height="30"
              />
              <div class="chat ml-2 p-3">
                {{message.text}}
              </div>
            </div>
  
            <div class="d-flex flex-row p-3 justify-content-end" *ngIf="message.from == 'user'">
              <div class="bg-white mr-2 p-3">
                <span class="text-muted">
                  {{message.text}}
                </span>
              </div>
              <img
                src="https://img.icons8.com/color/48/000000/circled-user-male-skin-type-7.png"
                width="30"
                height="30"
              />
            </div>
          </div>
  
          <div class="d-flex flex-row p-3" *ngIf="isThinking">
            <img
              src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-7.png"
              width="30"
              height="30"
            />
            <div class="chat ml-2 p-3">
              <span class="text-muted dot animate__animated animate__fadeIn animate__infinite">. . .</span>
            </div>
          </div>
  
          <div class="form-group px-3 my-3">
            <input
              name="text"
              (keyup.enter)="sendMessage()"
              [(ngModel)]="text"
              class="form-control chat-input"
              rows="5"
              placeholder="Type your message"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  