.header-background {
  align-items: center;
  background: #2f5597;
  color: #fff;
  padding: 5px;
  margin: 0;
}

.down-header {
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
  padding-left: 0px;
}

.mat-caption {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.analyze {
  font-size: 13px !important;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
