@import "../../secondary-research-input/secondary-research-input-element/secondary-research-input-element.component";

.outer-container {
  padding: 20px;

  .module-heading-container {
    text-align: center;
  }
}

.horizontal-scroll {
  overflow: auto;
}

.back-container {
  float: left;
  width: 100%;
  margin-bottom: 50px;
}

.module-link {
  float: left;
  width: auto;
  margin: 0 10px 10px 0;
}

.back-button {
  margin: 10px 0;
}
.f-w-img {
  width: 100% !important;
}

.shared-data-element-img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;

  &:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
}

.up-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
